* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
    padding-bottom: 30px;
}

header {
    background: #1e293b;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    opacity: 0.8;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 10px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav button {
    border: none;
    padding: 13px 5px;
    border-radius: 10px;
    background: #e2e8f0;
    font-size: 14px;
    cursor: pointer;
}

nav button:active {
    transform: scale(0.97);
}

.page {
    padding: 15px;
    max-width: 600px;
    margin: auto;
}

.hidden {
    display: none;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin: 18px 0 10px;
}

input {
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 9px;
    font-size: 16px;
    background: white;
}

button {
    font-size: 15px;
    border: none;
    border-radius: 9px;
    padding: 12px;
    cursor: pointer;
}

#productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 12px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.08);
    cursor: pointer;
}

.product-card:active {
    transform: scale(0.97);
}

.product-name {
    font-weight: bold;
    margin-bottom: 7px;
}

.product-price {
    font-size: 16px;
    margin-bottom: 5px;
}

.stock {
    font-size: 13px;
    color: #64748b;
}

.cart-item {
    background: white;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;}